# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Python egg files
*.egg
*.egg-info/
dist/
build/

# VS Code settings (optional, if you're using VS Code)
.vscode/

# macOS system files
.DS_Store
